// the global box, this will fix issues that kept being caused by how i would make the same thing over and over
.global-box {
    position: relative;

    border-radius: var(--border-radius);
    margin: 2rem;

    background-color: var(--alt);

    hr {
        width: 90%;
        margin: auto;
        padding: 0;
    }

    * {
        text-align: center !important;
    }

}

// calander from original redition -- modified
.calander {
    margin: auto;
    
    .days {
        display: grid;
        padding: 1vh;
        
        grid-template-columns: 14% 14% 14% 14% 14% 14% 14%;
        
        * {
            border-radius: 5px;
            border: 1px solid none;
            
            margin: 1vh;
            
        }
    }

    #calander {
        display: grid;
        padding: 1vh;

        grid-template-columns: 14% 14% 14% 14% 14% 14% 14%;
    
         * {
            border-radius: 5px;
            border: 1px solid var(--main-color);
            margin: 0;
      
            text-align: center;      
        }
        *:hover {
            border: 1px solid var(--main-alt-color);
            margin: 0;

            background-color: var(--alt-color);

            color: var(--heavy-font-color);
            text-align: center;
        }
    }

    #calander-left:hover, #calander-right:hover {
        border-radius: 5px;
        background-color: var(--alt-color);

        color: var(--heavy-font-color);
        text-align: center;
    }
}

.header {
    display: grid;
    position: fixed;
    top: 0;

    opacity: 0.9;
    backdrop-filter: blur(10px);

    padding: calc(var(--border-radius) - 5px);

    border-radius: 0 0 var(--border-radius) var(--border-radius);

    z-index: 1;

    background-color: var(--header-main-color);

    width: 100vw;
}

.slot-wrapper{
    display: grid;
    width: 100%;

    grid-template-columns: 50% 50%;
}

.slot-wrapper *{
    height: fit-content;
    min-height: 20px;

    margin: auto auto;
    top: 50%;
}