---
import Layout from '../layouts/astro/main.astro';
import Calander from '../comp/calander.astro';
import Slot from '../comp/slot.astro';
import Input from '../comp/input.astro';
---
<Layout desc='pod booking site' title='home'>
    <script src="../res/js/script"/>
    <div class="main">
        <Calander/>
        <Input/>
        <Slot/>
    </div>
</Layout>