<!--
    you can only have one of these at once, any calanders made after the original will be rendered useless
-->

<script src="../res/js/toplevelcalander" />
<div class="calander">
    <div style="display: flex; justify-content: space-between;">
        <div id="calander-left">
            ←
        </div>
        <div id="calander-right">
            →
        </div>
    </div>
    <p id="date" style="text-align: center;"> 0 jan 2020</p>
    <hr>
    <div class="days">
        <p>mon</p><p>tue </p><p>wed </p><p>thu </p><p>fri </p><p>sat </p><p>sun</p>
    </div>
    <hr>
    <div id="calander" />
    <hr>
    <p id="selected_date" style="text-align: center;">
        00/00/0000
    </p>
</div>