<div class="calander global-box">
    <div style="display: flex; justify-content: space-between;">
        <span class="material-symbols-outlined" id="calander-left">
            arrow_back
        </span>            
        <span class="material-symbols-outlined" id="calander-right">
            arrow_forward
        </span>  
    </div>
    <h3 id="date" style="text-align: center;"> 0 jan 2020</h3>
    <hr>
    <div class="days">
        <h4>mon</h4><h4>tue </h4><h4>wed </h4><h4>thu </h4><h4>fri </h4><h4>sat </h4><h4>sun</h4>
    </div>
    <hr>
    <div id="calander" />
    <hr>
    <h3 id="selected_date" style="text-align: center;">
        00/00/0000
    </h3>
</div>

<script src="/frontends/calander.js" calander="calander" selected_date="selected_date" date="date" calander_left="calander-left" calander_right="calander-right"/>