<div class="header">
    <h2 style="margin: auto; padding: 0;">
        Study pods
        <p style="font-size: xx-small;" id="visit-count">
            a website by <a href="/frontends/credits">roxie</a>: 
        </p>
    </h2>
    <p style="
        text-align: end;
        justify-content: space-between; 
        font-size: medium;
    ">
        <a href="/frontends">request</a> | 
        <a href="/frontends/calander">calander</a> | 
        <a href="/frontends/admin">admin</a>
    </p>
</div>