<div class="headerbox">
    <div class="grid">
        <img src="https://www.utcmediacityuk.org.uk/favicon.ico" style="width: 25px; height: 25px;">

        <p>pods</p>

        <div class="urls">
            <p><a href="/frontends/">home</a></p> |
            <p><a href="/frontends/admin">admin</a></p> |
            <p><a href="/frontends/calander">calander</a></p> |
            <p><a href="https://www.utcmediacityuk.org.uk/">utc</a></p>
        </div>

        <!-----
            <hr style="width: 90%; grid-column: span 2; margin: auto    ">
            <h2 style="grid-column: span 2; text-align: center;">
                hi
            </h2>
        --- -->
    </div>
</div>