<div class="input">
    
    <h1>submit</h1>
    <hr>
    <p>
        names: <input type="text" id="names" name="names" />       
        <br>
        seperated by a comma, it is requested you use the usernames given to you for your school pcs
    </p>
    <hr>
    <p>
        reason:
        <br> 
        <input type="text" id="reason" name="reason" style="width: 90%; height:auto;"/>       
        <br>
        this will be the reason which the admins will see when reviewing your request
    </p>
    <hr>
    <br>
    <button id="submitPost">
        submit
    </button>
</div>