<div class="slots">
    <h1 style="grid-column: span 3; text-align: center;">
        SLOTS
    </h1>
    <hr>
    <div class="slot-label"><p>1 (9am - 10am): </p></div>
    <div class="toggle">
        <input type="checkbox" id="slot-1" name="slot-1">
    </div>
    <hr>
    <div class="slot-label"><p>2 (10am - 11am): </p></div>
    <div class="toggle">
        <input type="checkbox" id="slot-2" name="slot-2">
    </div>
    <hr>
    <div class="slot-label"><p>3 (11am - 12pm): </p></div>
    <div class="toggle">
        <input type="checkbox" id="slot-3" name="slot-3">
    </div>
    <hr>
    <div class="slot-label"><p>4 (12pm - 1pm): </p></div>
    <div class="toggle">
        <input type="checkbox" id="slot-4" name="slot-4">
    </div>
    <hr>
    <div class="slot-label"><p>5 (1pm - 2pm): </p></div>
    <div class="toggle">
        <input type="checkbox" id="slot-5" name="slot-5">
    </div>
    <hr>
    <div class="slot-label"><p>6 (2pm - 3pm): </p></div>
    <div class="toggle">
        <input type="checkbox" id="slot-6" name="slot-6">
    </div>
    <hr>
    <div class="slot-label"><p>7 (3pm - 4pm): </p></div>
    <div class="toggle">
        <input type="checkbox" id="slot-7" name="slot-7">
    </div>
</div>