@media (prefers-color-scheme: dark) {
    :root{
        // colors
        --main-color: #000;
        --main-alt-color: #ea6962;
        
        --alt-color: #d8a656;
        --alt-alt-color: #fff;

        --tri-color: #a34900;
        --tri-alt-color: #32302f;

        // header
        --header-main-color: #1d2021;
        --header-alt-color: #fff;

        // backgound
        --background-color: #282828;
        --background-image: url('');

        // font
        --font-family: "Pixelify Sans", sans-serif;
        --font-weight: 10;
        --font-style: normal;
        --font-color: #d4be98;
        --font-link-color: rgb(178, 0, 98);
        --heavy-font-color: #91836a;
        --heading-font: var(--main-alt-color);
    }
}