@media (prefers-color-scheme: light) {
    :root{
        // colors
        --main-color: #fff;
        --main-alt-color: #fff;
        
        --alt-color: #fff;
        --alt-alt-color: #fff;

        --tri-color: #fff;
        --tri-alt-color: #fff;

        // backgound
        --backgorund-color: #000000;
        --background-image: url('');

        // font
        --font-family: "Pixelify Sans", sans-serif;
        --font-weight: 10;
        --font-style: normal;
        --font-color: #fff;
    }
}