.calander {
    position: relative;

    margin: 2rem;

    max-width: 300px;

    border-radius: var(--radius);
    border: 3px solid salmon;
    border-image: linear-gradient(to right top, red, black) 1;

    background-color: var(--alt);

    hr {
        width: 90%;
        margin: auto;
        padding: 0;
    }

    .days {
        display: grid;
        grid-template-columns: 14% 14% 14% 14% 14% 14% 14%;
        padding: 1vh;
        
        * {
            border-radius: 5px;
            border: 1px solid none;
            text-align: center;
            margin: 1vh;
        }
    }

    #calander {
        padding: 1vh;
        display: grid;
        grid-template-columns: 14% 14% 14% 14% 14% 14% 14%;
    
         * {
            border-radius: 5px;
            border: 1px solid var(--main);
            text-align: center;
            margin: 0;
        }
        *:hover {
            border-radius: 5px;
            border: 1px solid var(--main2);
            background-color: var(--main2);
            text-align: center;
            margin: 0;
        }
    }
}