@media (min-width: 768px) {
    .headerbox {
        width: 80vw;
        height: auto;

        margin: auto auto;

        text-align: center;

        background-color: var(--main);

        border-bottom: var(--border);
        border-right: var(--border);        

        border-radius: var(--radius);
        border-image: var(--border-gradient);

        .urls {
            width: 100%;

            display: flex;

            justify-content: space-evenly;
            text-align: center;
        }

    }

    .grid {
        margin: 0;
        padding: 0;

        display: grid;
        grid-template-columns: 5% 65% 30%;
        padding: 10px;

        * {
            text-align: left;
            margin: 0;
        }
    }

    .hub {
        margin-top: 1vh;
        position: relative;
        width: 80vw;
        border-radius: var(--radius);
        border: 3px solid salmon;
        border-image: linear-gradient(to right top, red, black) 1;

        display: grid;
        grid-template-columns: 30% 10% 10% 10% 10% 10% 10% 10%;

        hr {
            grid-column: span 8;
            width: 90%;
        }
        
        * {
            height: max-content;

            p {
                margin: 0;
                padding: 1vw;
            }

            :hover {
                background-color: var(--alt);
            }
        }
    }

    .menu {
        margin: 1vh;
        position: relative;
        width: 80vw;
        border-radius: var(--radius);
        border: 3px solid salmon;
        border-image: linear-gradient(to right top, red, black) 1;

        display: grid;
        grid-template-columns: 30% 25% 25% 20%;

        * {
            text-align: center;

            p {
                margin: 0;
                padding: 1vw;
            }

            :hover {
                background-color: var(--alt);
            }
        }
    }
}