---
const { frontmatter } = Astro.props;

import Layout from '../full.astro';
---

<Layout desc={frontmatter.desc} title={frontmatter.title}>
    <div class="main">
        <div class="pgViewSubjectHeader">
            <h2>{frontmatter.title}</h2>
        </div>
        <div class="pgViewSubject" style="display: block; text-align: start;">
            <slot />
        </div>
    </div>
</Layout>